<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<a href="{{ url_for('index') }}">Back</a>
<h3>Question: {{ poll['poll'] }}</h3>
<p><b><a href="{{ url_for('vote', id=poll.name, option=1) }}">Vote</a> A </b> ({{ poll['votes1'] }}): {{ poll['option1'] }} </p>
<p><b><a href="{{ url_for('vote', id=poll.name, option=2) }}">Vote</a> B </b> ({{ poll['votes2'] }}): {{ poll['option2'] }} </p>
<p><b><a href="{{ url_for('vote', id=poll.name, option=3) }}">Vote</a> C </b> ({{ poll['votes3'] }}): {{ poll['option3'] }} </p>
<p><b><a href="{{ url_for('vote', id=poll.name, option=4) }}">Vote</a> D </b> ({{ poll['votes4'] }}): {{ poll['option4'] }} </p>
</body>
</html>
